<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AeroWizard" version="2.2.9" targetFramework="net472" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net472" />
  <package id="KeraLua" version="1.2.12" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLua" version="1.5.7" targetFramework="net472" />
</packages>